Flask
Flask-SQLAlchemy
ariadne
psycopg2 #prob need binary
flask-graphql>=2.0.1

#pip install --upgrade -r requirements/requirements.txt 
#run `pip install -r requirements/requirements.txt` from root directory
